.activity {
    padding-bottom: 0px;
    margin: 0px auto;
    &-title {
        padding-top: 0px;
        margin-top: 0px;
        font-weight: bold;
        line-height: 1.14;
        text-transform: uppercase;
        text-align: center;
        @media screen and (max-width: 480px) {
            margin-bottom: 10px;
          }
    }
    &-text {
        line-height: 1.714;
        color: $title-text-color;
        @media screen and (max-width:767px) {
            margin-top: 0;
            margin-bottom: 0;
          }
    }
    &-list {
        margin: 0px;
        padding-left: 0px;
        padding-bottom: 60px;
        @media screen and (max-width:767px) {
            display: block;
            width: 100%;
          }
    }
    &-item {
       // width: calc((100% - 3 * 30px) / 4);
        &::before {
            display: block;
            content: '';
            height: 120px;
            background: #F5F4FA;
            border-radius: 4px; 
            margin-bottom: 30px;
            background-repeat: no-repeat;
            background-size: 70px 70px;
            background-position: center;
        }
        &:nth-child(1)::before {
            background-image: url(../svg/antenna.svg);
        }
        &:nth-child(2)::before {
            background-image: url(../svg/clock.svg);
        }
        &:nth-child(3)::before {
            background-image: url(../svg/diagram.svg);   
        }
        &:nth-child(4)::before {
            background-image: url(../svg/astronaut.svg);
        }
        // &:not(:last-child) {
        //     margin-bottom: 30px;
        // }
           
    }
}  
@media screen and (max-width:767px) {
    .activity-item:not(:last-child) {
        margin-bottom: 30px;
    } 
} 
@media screen and (min-width:768px) {
    .activity-list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    .activity-item {
        //width: calc((100% - 2 * 30) / 2);
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
}
@media screen and (min-width:1200px) {
    .activity-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0px;
        padding-left: 0px;
        padding-bottom: 0;
    }
    .activity-item {
        width: 270px;
        margin: 0px;
        align-items: baseline;
    }

}




