.footer-address {
    width: 232px;
    margin: 0 auto 60px;
    text-align: center;
}
.address-list {
    text-align: center;
    margin-top: 20px;
}
.studio-footer, .city {
    color: $white-color;
}
.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: $accent-color;
    }
}
.city {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}
.adress-items:not(:last-child) {
    margin-bottom: 9px;
}
.footer-address__logo {
    text-decoration: none;
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.167;
}
@media screen and (min-width: 1200px) {
    .footer-address {
        margin: 0px;
        text-align: left;
    }
    .address-list {
        text-align: left;
    }

}