.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
}
@media screen and (min-width: 1200px) {
    .footer-container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
      }
      // .footer-widget {
      //   width: calc((50% - 45px) / 2);
      // }
      // .footer-widget:last-child {
      //   width: calc(50% - 15px);
      // }
}
