.our_team {
    background-color: #F5F4FA;
}
.team-list {
    display: block;
    text-align: center;
    padding-left: 0px; 
    &__items:not(:last-child) {
        margin-bottom: 30px;
    }
}
.items-text {
    color: $title-text-color;
    line-height: 1.714;
    font-size: inherit;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 16px;
}
.team-title {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}
@media screen and (min-width:768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        align-items: baseline;
    }
    .team-list__items {
        width: calc((100% - 4 * 15) / 2);
        margin: 15px;
    }
}


// @media screen and (min-width:1200px) 