.work {
    @media screen and (max-width: 1199px) {
        display: none;
      }    
    padding-bottom: 94px;

    &-list {
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    &-item {
        display: block;
        flex-basis: calc((100% - 2 * 30px) / 3);
    }
    &-actions {
        position: absolute;
        bottom: 0;
    }
    &-title {
        display: inline-block;
        width: 370px;
        height: 70px;
        padding-top: 27px;
        padding-bottom: 27px;
        margin: 0px;
        font-weight: bold;
        line-height: 1.14;
        text-transform: uppercase;
        text-align: center;
        background: rgba(47, 48, 58, 0.8);
        color: $white-color;
    }
}
.actions-thumb {
    position: relative;
}

