.title-form {
    /* margin-top: 40px; */
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    margin-top: 0;
    margin-bottom: 12px;
}
// .contacts-form {
//     display: flex;
//     font-display: column;
// }
.contact-form {
    &-title {
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
        color: $title-text-color;
        margin: 0;
        margin-bottom: 4px;
    }
    &-input:focus, &:focus {
        outline: none;
        }
    &-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left: 42px;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        }
    &-input:hover ~ .contact-form-svg,
    &-input:focus ~ .contact-form-svg {
        fill: $accent-color;
        }
    &-svg {
        position: absolute;
        bottom: 14px;
        left: 15px;
        }
    &-input:hover, &-input:focus,
    &-message:hover, &-message:focus {
        border-color: $accent-color;
        }
    &-message {
        resize: none;
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 12px 16px;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        }
    &-field {
        position: relative;
        margin-bottom: 10px;
        }
    &-button {
        margin: 0 auto;
        border: none;
        width: 200px;
        height: 50px;
        padding: 10px 55px;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.875;
        color: $white-color;
        background-color: $accent-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        }
}
.button-box {
    display: flex;
    justify-content: center;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.for-modal-checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        display: block;
        margin-right: 8.38px;
        content: '';
        width: 16px;    
        height: 15px;
        border: 2px solid #212121 ;
        border-radius: 2px;
    }
}
.modal-checkbox:checked + .for-modal-checkbox::before {
    background-color: $accent-color;
    border-color: $accent-color;
    background-image: url(../svg/icon-ok.svg);
    background-size: cover;
}
.label-title {
    font-size: 14px;
    line-height: 1.714;
    color: $title-text-color;
}
.policy-link {
    color: $accent-color;
    text-decoration: underline;
}